<div class="navbar">
  <div class="left">
    <img src="https://cdn-icons-png.flaticon.com/512/3131/3131333.png" alt="Logo" class="responsive-logo" style="filter: brightness(0) invert(1);">
    <div class="logo">Feedbackportal</div>
  </div>
  <div class="menu">
    <a *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
    <a *ngIf="!isLoggedIn()" routerLink="/register">Register</a>
    <a *ngIf="isLoggedIn() && hasAccess('/feedback-form')" (click)="navigateTo('/feedback-form')">Feedback schreiben</a>
    <a *ngIf="isLoggedIn() && hasAccess('/feedback-list')" (click)="navigateTo('/feedback-list')">Feedback anzeigen</a>
    <a *ngIf="isLoggedIn() && hasAccess('/feedback/all-open')" (click)="navigateTo('/feedback/all-open')">Offene Anfragen</a>
    <a *ngIf="isLoggedIn()" (click)="logout()">Ausloggen</a>
  </div>
</div>
