<section id="beschwerden-status">
    <h1>Ihre Beschwerden</h1>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th>Kategorie</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kindergeld zu wenig</td>
                <td>Familie</td>
                <td>Gesendet</td>
            </tr>
            <tr>
                <td>Gefährliche Kurve</td>
                <td>Verkehr</td>
                <td>In Bearbeitung</td>
            </tr>
            <tr>
                <td>Strompreiserhöhung</td>
                <td>Wohnen</td>
                <td>Bearbeitet</td>
            </tr>
        </tbody>
    </table>
</section>