<section id="offene-anliegen">
  <h1>Offenes Feedback</h1>
  <div *ngIf="response">
    <!-- <pre>{{ data | json }}</pre>   Display the fetched data -->
    <table *ngIf="response.data && response.data.length > 0" class="feedback-table">
      <thead>
      <tr>
        <th>Bearbeiten</th>
        <th>ID</th>
        <th>Titel</th>
        <th>Kategorie</th>
        <th>Inhalt</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let feedback of response.data" class="clickable-row">
        <td class="icon" (click)="goToEdit(feedback.id)"><figure><img src="/icon_edit.png" alt="icon bearbeiten"> </figure> </td>
        <td>{{ feedback.id }}</td>
        <td>{{ feedback.title }}</td>
        <td>{{ feedback.category }}</td>
        <td>{{ feedback.content }}</td>
        <td>{{ feedback.status }}</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div *ngIf="errorMessage">
    <p>Error: {{ errorMessage }}</p>  <!-- Display the error message -->
  </div>
</section>

