<footer id="impressum">
    <h1>Impressum</h1>
    <br>
    <p><strong>Verantwortlich für den Inhalt:</strong> Felicitas Yeboah, Christine Niek, Katrin Knoke, Roxane Buhl</p>
    <p><strong>Adresse:</strong> Musterstraße 123, 12345 Musterstadt</p>
    <p><strong>Telefon:</strong> +49 123 456 789</p>
    <p><strong>E-Mail:</strong> <a href="mailto:info@beschwerdeportal.de">info&#64;feedbackportal.de</a></p>
    <p><strong>Webseite:</strong> <a href="https://www.beschwerdeportal.de" target="_blank" rel="noopener noreferrer">www.feedbackportal.de</a></p>
</footer>