<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedbackübersicht</title>
</head>
<body>
<section id="feedbackedit">
<!--<div *ngIf="response">
  <pre>{{ response.feedback | json }}</pre>   Display the fetched data
  <h1>{{ response.data.title }}</h1>
  <p>Kategorie: {{ response.data.category }}</p>
  <p>Inhalt: {{ response.data.content }}</p>
  <p>Status: {{ response.data.status }}</p>
</div>-->
<form (ngSubmit)="updateFeedback()" #feedbackForm="ngForm">
  <!-- Comment Input -->
  <label for="comment">Antwort zum Feedback:</label>
  <textarea
    id="comment"
    name="comment"
    rows="6"
    [(ngModel)]="feedback.comment"
    placeholder="Kommentar eingeben"></textarea>

  <!-- Submit Button -->
  <button type="submit">Absenden</button>
</form>
</section>
</body>
</html>
