<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedbackübersicht</title>
</head>
<body>
<section id="feedbackedit">
  <h1>{{ response.data[feedbackId].title }}</h1>
<div *ngIf="response.data[feedbackId]">
  <h1>{{ response.data[feedbackId].title }}</h1>
  <p>Kategorie: {{ response.data[feedbackId].category }}</p>
  <p>Inhalt: {{ response.data[feedbackId].content }}</p>
  <p>Status: {{ response.data[feedbackId].status }}</p>
</div>
<form (ngSubmit)="updateFeedback()" #feedbackForm="ngForm">
  <!-- Comment Input -->
  <label for="comment">Antwort zum Feedback:</label>
  <textarea
    id="comment"
    name="comment"
    rows="6"
    [(ngModel)]="feedback.comment"
    placeholder="Kommentar eingeben"></textarea>

  <!-- Submit Button -->
  <button type="submit">Absenden</button>
</form>
</section>
</body>
</html>
