/* You can add global styles to this file, and also import other style files */
/* Grundlegendes Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #e8ecf8;
    color: #20123f;
}